@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,800);
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);

figure.snip0045 {
  font-family: tahoma;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 380px;
  max-width: 520px;
  width: 100%;
  background: white;
  color: blue;
  border: solid 2px orange;
}
figure.snip0045 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
figure.snip0045 > img {
  width: 50%;
  border-radius: 50%;
  border: 4px solid orange;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  -webkit-transform: scale(1.6);
  transform: scale(1.6);
  position: relative;
  left: -15%;
  z-index: 1;
}
figure.snip0045 figcaption {
  padding: 20px 30px 20px 20px;
  position: absolute;
  right: 0;
  width: 50%;
}
figure.snip0045 figcaption h2,
figure.snip0045 figcaption p {
  margin: 0;
  text-align: right;
  padding: 10px 0;
  width: 100%;
}
figure.snip0045 figcaption h2 {
  font-size: 1.3em;
  font-weight: 300;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
figure.snip0045 figcaption h2 span {
  font-weight: 800;
}
figure.snip0045 figcaption p {
  font-size: 0.9em;
  opacity: 0.8;
}
figure.snip0045 figcaption .icons {
  width: 100%;
  text-align: right;
}
figure.snip0045 figcaption .icons i {
  font-size: 28px;
  padding: 25px;
  top: 50%;
  color: blue;
}
figure.snip0045 figcaption a {
  opacity: 0.3;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}
figure.snip0045 figcaption a:hover {
  opacity: 0.8;
}
figure.snip0045 .position {
  width: 100%;
  text-align: right;
  padding: 15px 30px;
  font-size: 0.9em;
  opacity: 1;
  font-style: tahoma;
  color: #ffffff;
  background: orange;
}
figure.snip0045.blue .position {
  background: #20638f;
}

figure.snip0045:hover > img,
figure.snip0045.hover > img {
  left: -12%;
}

/* Demo purposes only */
html {
  height: 100%;
  
}
body {
  background-color:lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
  margin: 0;
  height: 100%;
  
  
}

*{
	padding:0px;
}	

/* to profile link */

.back-to-profile,
.back-to-profile:visited {
  display: block;
  
  padding-left: 0.5em;
  padding-top: 0.7em;
  padding-bottom: 0.1em;
  color: #222;
  text-decoration: none;
  font-weight: bold;
  border-top: 0.3125rem solid rgba(0, 0, 0, 0);
  border-bottom: 0.3125rem solid #97ece1;
  -webkit-transition: border 0.3s ease-in-out;
  transition: border 0.3s ease-in-out;
}

.back-to-profile::after {
  content: "\25b6";
  margin: 0 0.75em;
  color: #222;
}

.back-to-profile:hover,
.back-to-profile:focus {
  border-top-color: #222;
  border-bottom-color: orange;
}




h1{
  font-family: 'Simple CLM', serif;
  color:rgb(255, 165, 0);
  font-size: 80px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  text-align: center;
  
}



#content p {
  font-family: 'Simple CLM', serif;
  font-weight:bold;
  text-align:center;
  
 
}

div.background {
  background: url(../images/pet.jpg) repeat;
  border: 2px solid black;
  width:100%;
  
}

div.transbox {
  margin: 30px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.6;
  filter: alpha(opacity=60); /* For IE8 and earlier */
 

  
}

div.transbox p {
  margin: 1%;
  font-weight: bold;
  color: #000000;
 
  
}



