*{
    margin: 0;
    padding: 0;
}

body {
  text-align: center;
  background-color: lightblue;
  /*
    background: #151515;
    margin: 0;
    font-family: 'Montserrat', sans-serif;

  background-color: lightblue;
  background-size: 20px 20px;
  position: absolute;
  right:10px;
  */
}


#content p {
  font-family: 'Simple CLM', serif;
}



div.background {
  background: url(../images/pet.jpg) repeat;
  border: 2px solid black;
}

div.transbox {
  margin: 30px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.6;
  filter: alpha(opacity=60); /* For IE8 and earlier */
}

div.transbox p {
  margin: 1%;
  font-weight: bold;
  color: #000000;
}

h1{
  font-family: 'Simple CLM', serif;
  color:rgb(255, 165, 0);
  font-size: 80px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.form {
    max-width: calc(100vw - 40px);
    width: 30%;/* רוחב form*/
    height: auto;
    border-radius: 8px;/* פינות מעוגלות מסגרת לבנה*/
    box-shadow: 0 0 40px -10px #fff;/* צל מסגרת לבנה*/
    margin:3% auto;/* מירכוז יחסית לדף*/
    padding: 30px 30px;/*שוליים פנימים של המסגרת הלבנה גובה  רוחב */
    box-sizing: border-box;
    position: relative;
    border-bottom: 5px solid #ccc;
    direction:rtl;
	font-family: 'Simple CLM', serif;

}

input {
    /*width: 35%;*/
    padding: 4px;
    box-sizing: border-box;
    background: none;
    outline: none;
    resize: none;
    border: 0;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    border: 1px solid #bebed2;
    transition: all .3s;
}
.form p:before {
    content: attr(type);
    display: block;
    margin: auto;
    font-size: 5px;
    color: #5a5a5a;
    float: right;
    width: 10%;
    transition: all .3s;
}
button {
    padding: 4px 12px;
    margin: 8px 0 0;
    font-family: 'Montserrat', sans-serif;
    border: 2px solid #78788c;
    background: 0;
    color: #5a5a6e;
    cursor: pointer;
    transition: all .3s;
}
button:hover {
    background: #78788c;
    color: #fff;
}
/*מיקום שני הכפתורים*/
.tright{
    text-align: center;
}
.ui-menu{
    max-height: 150px;
    overflow: auto;
}
.ui-menu .ui-menu-item{
    padding:5px;
    font-size: 10px;
}
.relative{
    position: relative;
}
/*מתייחס לאייקונים*/
.relative i.fa:before{
    color: #FFFFFF;/*צבע האייקונים שחור*/
    padding: 10px;
    position: absolute;/*מיקומים*/
    left: -3px;/*מיקומים*/
    text-align: center;/*מיקומים*/
}
/*מתייחס לריבועים האפורים*/
.relative i.fa{
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    text-align: center;
    border-radius: 0 4px 4px 0;
    width: 0;
    height: 0;
    z-index: 59;
    border-left: 20px solid transparent;
    border-right: 30px solid #ccc;
    border-bottom: 34px solid #ccc;
    transition: all 0.15s ease-in-out;

}
.form-control:focus{
    border-color: #87CEFA;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgb(30, 102, 195);
}
/*גודל הפוקוס*/
.relative input:focus + i.fa{
    border-left: 20px solid transparent;
    border-right: 30px solid #1e439b;
    border-bottom: 34px solid #1e439b;
}
/*צבע האייקון בזמן הפוקוס*/
.relative input:focus + i.fa:before{
    color: #87CEFA;
}
.input-group .form-control:not(:first-child):not(:last-child),
.input-group-addon:not(:first-child):not(:last-child),
.input-group-btn:not(:first-child):not(:last-child){
    border-radius: 4px 0 0 4px;/*עיגול שוליים קובץ*/
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control{
    background-color: #fff;/*צבע רקע קובץ*/
}

/* --- Thanks Message Popup --- */
.thanks{
    max-width: calc(100vw - 40px);
    width: 80%;
    margin: auto;
    background-color: #444;
    border-radius: 8px;
    box-shadow: 0 0 40px -10px #000;
    box-sizing: border-box;
    transition: all .3s;
}
.thanks h4, .thanks p{
    color: #fff;
    text-align: center;
}

/* --- Animated Buttons --- */
.movebtn{
    background-color: transparent;
    display:inline-block;
    width:100px;
    background-image: none;
    padding: 10px;
    margin-bottom:20px;
    border-radius: 0;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transition-timing-function: cubic-bezier(0.5, 1.65, 0.37, 0.66);
    transition-timing-function: cubic-bezier(0.5, 1.65, 0.37, 0.66);
}
.movebtnre {
    border: 2px solid #ff5501;
    box-shadow: inset 0 0 0 0 #ff5501;
    color:#ff5501;
}
.movebtnsu {
    border: 2px solid #1e439b;
    box-shadow: inset 0 0 0 0 #1e439b;
    color: #1e439b;
}
.movebtnre:focus,
.movebtnre:hover,
.movebtnre:active {
    background-color: transparent;
    color: #FFF;
    border-color: #ff5501;
    box-shadow: inset 96px 0 0 0 #ff5501;
}
.movebtnsu:focus,
.movebtnsu:hover,
.movebtnsu:active {
    background-color: transparent;
    color: #FFF;
    border-color: #1e439b;
    box-shadow: inset 96px 0 0 0 #1e439b;
}


/* --- Media Queries --- */

@media only screen and (max-width: 600px) {
    p:before{
        content: attr(type);
        width: 100%
    }
    input{
        width: 100%;
    }
}
textarea{
	border-radius: 10px;
	width:100%;
}



#privacy-terms {
	/*width: 400px;*/
	height: 150px;
	overflow: auto;
	background: #eee;
}

#privacy-terms p {
    /*padding: 0 1em;*/
    line-height: 1.3;
}



