*{
    margin: 0;
    padding: 0;
}
body{
  text-align: center;
  background-color: lightblue;
}

#content p {
  font-family: 'Simple CLM', serif;
}

div.background {
  background: url("../images/pet.jpg") repeat;
  border: 2px solid black;
}

div.transbox {
  margin: 30px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.6;
  filter: alpha(opacity=60); /* For IE8 and earlier */
}

div.transbox p {
  margin: 1%;
  font-weight: bold;
  color: #000000;
}

h1{
  font-family: 'Simple CLM', serif;
  color:rgb(255, 165, 0);
  font-size: 80px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
textarea{
  background-color: #ccf2ff
;
}

.rate {

    margin-right: 550px;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}



/* Modified from: https://github.com/mukulkant/Star-rating-using-pure-css */
